---
layout: default
---

<div class="container d-none d-md-block" style="margin-bottom: 10px; text-align: center;">
	<script type="text/javascript" language="javascript" src="https://www.anrdoezrs.net/placeholder-46382047?target=_top&mouseover=N"></script>
</div>
<div class="container d-md-none" style="margin-bottom: 10px; text-align: center;">
    <script type="text/javascript" language="javascript" src="https://www.anrdoezrs.net/placeholder-46383864?target=_top&mouseover=N"></script>
</div>

<div class="container">
<h3 class="font-weight-bold spanborder"><span>{{page.title}}</span></h3>
<div class="page-content">
{{ content }}
<!-- Comments -->
{% if page.comments == true %}
{% include comments.html %}
{% endif %}
</div>
</div>