<header class="wrapper">
  <a href="#main" class="skip-link">{{ meta.skipContent }}</a>

  <div class="site-header | repel ontop">
    <a href="/" class="logo | cluster" {% if page.url == "/" %}aria-current="page"{% endif %}>
      {% svg "misc/star" %}

      <span class="font-display">{{ meta.siteName }}</span>
    </a>
    <nav class="cluster" aria-label="{{ meta.navigation.ariaTop }}">
      <a href="/" {% if page.url == "/" %}aria-current="page"{% endif %}>{{ meta.siteName }}</a>

      {% for item in navigation.top %}
        {% if item.text != "Style guide" %}  {# Skip the Style guide link #}
          <a
            href="{{ item.url }}"
            {{
              helpers.getLinkActiveState(item.url,
              page.url)
              |
              safe
            }}
            >{{ item.text }}</a
          >
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>
